.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-bottom: 20px;
    gap: 15px;
}

.socials a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.icons {
    padding:10px;
}

.mid {
    display: flex;
    background-color: rgb(255, 237, 78);
    width: 30%;
    height: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mid a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
    
.mid a:hover{
color:rgb(247, 7, 7);
}

.mid a:focus{
    color:rgb(247, 7, 7);
}

.left {
background-color: rgb(255, 255, 255);
display: inline-block;
width: 40%;
font-size: 80px;
font-weight: bolder;
padding: 18px 17px;
color: #000000;
font-family: Allison;
text-align: center;
}

.left a{
text-decoration:none;
}
